%%-*-Erlang-*-
{erl_opts, [debug_info]}.

{deps, [
        {plists, "1.1.1"},
        {enats, {git, "https://github.com/travelping/enats.git", {branch, "main"}}}
       ]}.

{overrides, [
             {add, plists, [{erl_opts, [{d, '_internal_otp_vsn_21_0_1', true}]}]}
            ]}.

{shell, [
         %% {config, "config/sys.config"},
         {apps, [enats, plists]}
        ]}.
