%%-*-Erlang-*-
{erl_opts, [debug_info, warnings_as_errors]}.

{deps, [{nats_msg, "0.4.1"}]}.

{minimum_otp_vsn, "27.0"}.

{plugins, [rebar3_fmt]}.

%% dialyzer
{dialyzer,
 [{warnings, [
              unmatched_returns,
              no_unknown,
              underspecs,
              no_extra_return
             ]},
  {plt_apps, all_deps}
 ]}.
