%%-*-Erlang-*-
{erl_opts, [debug_info, warnings_as_errors]}.

{deps, [%%{enats_msg, "0.9.0"}
         {enats_msg, {git, "https://github.com/travelping/enats_msg.git", {branch, "main"}}}
       ]}.

{minimum_otp_vsn, "27.0"}.

{plugins, [rebar3_fmt]}.

%% dialyzer
{dialyzer,
 [{warnings, [
              unmatched_returns,
              no_unknown,
              underspecs,
              no_extra_return
             ]},
  {plt_apps, all_deps}
 ]}.

{shell,
 [{apps, [enats]}
 ]}.
