%%-*-Erlang-*-
{erl_opts, [debug_info, warnings_as_errors]}.

{deps, [{opentelemetry_api, "1.4.0"},
        {enats_msg, "1.0.2"}
       ]}.

{minimum_otp_vsn, "27.0"}.

%% == Plugins ==

{plugins, [{rebar3_fmt, {git, "https://github.com/travelping/erlang-formatter.git", {branch, "master"}}},
           rebar3_hex, rebar3_ex_doc]}.

%% == Dialyzer ==

{dialyzer,
 [{warnings, [
              unmatched_returns,
              no_unknown,
              underspecs,
              no_extra_return
             ]},
  {plt_apps, all_deps}
 ]}.

%% == Xref ==

{xref_checks,[undefined_function_calls,
              undefined_functions,
              locals_not_used,
              deprecated_function_calls,
              deprecated_functions]}.

%% == Common Test ==

{ct_opts, [{ct_hooks, [cth_surefire]}]}.

%% == Dev shell config ==

{shell,
 [{apps, [enats]}
 ]}.

%% == ExDoc ==

{ex_doc, [
          {extras, ["README.md", "LICENSE.md"]},
          {main, "README.md"},
          {source_url, "https://github.com/travelping/enats"}
         ]}.

%% == Hex ==

{hex, [
       {doc, #{provider => ex_doc}}
      ]}.
